<div class="modal-header">
    <h1 class="modal-title">CIF TOKEN</h1>
</div>
<div class="modal-body">
    <div class="row">
    </div>
    <form class="config-add-form form-horizontal m-t-xs" ng-submit="submit()">
    	<div class="form-group">
	    <label class="col-xs-4 control-label" style="width: 13.3333%;">TOKEN</label>
	    <div class="col-xs-6">
	    	<input type="text" ng-model="vm.token" rows="3" class="form-control" placeholder="CIF Token" ng-pattern="/^[a-z0-9]{80}$/" style="width:450px;" />
	    </div>
    	</div>
    	<div class="modal-footer">
	    <button ng-disabled="!vm.valid()" class="btn btn-primary btn-sm" type="submit" ng-click="vm.save()">OK</button>
	    <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">CANCEL</button>
    	</div>
    </form>
</div>
